<div class = "page-container">
    <app-particle-generator class="particle"> </app-particle-generator>
    <div class ="title-container">
        <h1>COTN PRODUCTIONS</h1> 
        <h1>Your Personalized Entertainment Planner</h1>  
        <div class="home-buttons">
            <button  mat-fab extended (click)="scrollToNextElement()">Explore</button>
            <button  mat-fab extended (click)="scrollToNextElement()">Login</button>
        </div>
    </div>
    
    <div #nextElement class="container">
        <div class="image-container">
            <img *ngFor = "let image of images; let i = index"
                [src] = "image.imageSrc" [alt] = "image.imageAlt"
                [ngClass]="{'image-active': currentImage === i}"
            >
    
            <div  class="carousel-dot-container">
                <span *ngFor="let dot of images; let i = index" 
                    class="dot"
                    [ngClass]="{'active': currentImage === i}"
                    (click) = "selectImage(i)"
                >
                </span>
            </div>
        </div>
    </div>

    <div class= "features-container">
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>
                    <span class="material-icons">
                        &#xf092;
                    </span>
                    
                    Backlog
                </mat-card-title>
            </mat-card-header>
            
            <mat-card-content>
                <p>Add games and movies to your backlog, keep track of your progress and add a review when completed! You can order your backlog any way you want and rate games on a 5 star scale.</p>
            </mat-card-content>
        </mat-card>
    
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>
                    <span class="material-icons">
                        &#xe80d;
                    </span>
                    Share
                </mat-card-title>
            </mat-card-header>
           
            <mat-card-content>
                <p>Write your own review once you complete a game or movie, and add friends to read theirs. Create a friend group to compare scores and plan your entertainment journey together.</p>
            </mat-card-content>
        </mat-card>
    </div>

    <div class= "features-container">  
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>
                    <span class="material-icons">
                        &#xe869;
                    </span>
                    Projects
                </mat-card-title>
            </mat-card-header>
            
            <mat-card-content>
                <p>Play and watch games and videos created by COTN Productions. The ability to add your own created games and videos is coming soon!</p>
            </mat-card-content>
        </mat-card>
    
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>
                    <span class="material-icons">&#xe8f4;</span>
                    Discover
                </mat-card-title>
            </mat-card-header>
            
            <mat-card-content>
                <p>Find upcoming games and movies, and see what's popular among the community. Get recommendations based on completed items in your backlog.</p>
            </mat-card-content>
        </mat-card>
    </div>

    <app-footer></app-footer>

</div>




